extends ../../template.pug

block variable
  - var htmlTitle = '示例'

block header
  <!--[if IE 8]>
  script.
    var IE8 = true;
    $(document.documentElement).addClass('IE8');
  <![endif]-->
  <!--[if IE 9]>
  script.
    var IE9 = true;
    $(document.documentElement).addClass('IE9');
  <![endif]-->
  style .desc { margin: 30px; }

block main
  #app
    #test
  #root
