doctype html
html
  head
    block variable
    meta(charset='utf-8')
    title #{ htmlTitle || 'webpack multiple page' }
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='description', content='基于 webpack 5 兼容 IE8 的多页面示例')

    <!--[if IE 8]>
    script(src='/static/polyfill/webpack.runtime.ie8.js')
    script(src='/static/polyfill/EventListener.js')
    <![endif]-->
    <!--[if lte IE 9]>
    script(src='/static/polyfill/console-polyfill.js')
    link(
      rel='stylesheet',
      href='/static/website/normalize.css/7.0.0/normalize.css'
    )
    <![endif]-->
    <!--[if !IE]>-->
    link(
      rel='stylesheet',
      href='/static/website/normalize.css/8.0.1/normalize.css'
    )
    <!--<![endif]-->
    style(type='text/css') input::-ms-clear { display: none; }

    script(src='/static/website/jquery.com/jquery-1.12.4.min.js')

    block header
  body
    block main
